<div class="well">
  <h2>Select country or enter a zipcode:</h2>

  <app-input-autocomplete
          [optionsData]="countriesDataMock"
          [placeholderInput]="'Select country'"
          (optionSelectedDataEvent)="getCountryData($event)"
  ></app-input-autocomplete>
  <input type="text" #zipcode placeholder="Zipcode" class="form-control">

  <br>
  <app-state-button
    [initialStateTemplate]="load"
    [workingStateTemplate]="loading"
    [doneStateTemplate]="loaded"
    (actionTriggered)="addLocation()"
  ></app-state-button>
</div>

<!-- Templates to customize state-button-->
<ng-template #load>
  Add location
</ng-template>

<ng-template #loading>
  Adding...
</ng-template>

<ng-template #loaded>
  <img src="./assets/icons/check-circle.png" style="width:20px; margin-right: 5px; margin-top: -2px;">Done
</ng-template>
