<div class="well">
  <h2>Enter a zipcode:</h2>
  <input type="text" #zipcode placeholder="Zipcode" class="form-control">
  <br>
  <app-state-button
    [initialStateTemplate]="load"
    [workingStateTemplate]="loading"
    [doneStateTemplate]="loaded"
    (actionTriggered)="addLocation($event)"
  ></app-state-button>
</div>


<ng-template #load>
  Add location
</ng-template>

<ng-template #loading>
  Adding...
</ng-template>

<ng-template #loaded>
  <img src="./assets/icons/check-circle.png" style="width:20px; margin-right: 5px; margin-top: -2px;">Done
</ng-template>
